<h1>Agency Registration</h1>
        <div class="form-group col-8">
                <label >ID</label>
                <input type="number" name="ID" value="" class="form-control"/>
                
                <label >Agency Name</label>
                <input type="text"  value=""class="form-control" />
                
                <label >Owner Name</label>
                <input type="text"  value=""class="form-control" />
                
                <label >Address</label>
                <textarea name="address"class="form-control"></textarea><br>
                
                <input type="submit" value="submit"class="btn btn-primary" />

                <input type="button" value="clear"class="btn btn-primary" />

                </div>