<table border="1" style="width:90%">
  <thead>
    <tr>

    <th colspan="1" rowspan="2">Employee ID</th>
    <th colspan="1" rowspan="2">employee Name</th>
    <th colspan="1" rowspan="2">Date</th>
    <th colspan="2">Time</th>
    </tr>

    <tr>
    
    <th>subhead<br>to</th>
    <th>subhead<br>from</th>
</tr>
  </thead>
  <tbody>
    <tr>  
      <td>data</td> 
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>

    </tr>
     <tr>  
      <td>data</td> 
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>

    </tr>
     <tr>  
      <td>data</td> 
      <td>data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>

    </tr>
  </tbody>
</table>