<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<nav class="navbar navbar-expand-sm bg-light"> 
  <div class="container-fluid">
    <!-- <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="user/register" class="nav-link" routerLinkActive="active">
          Register User
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="" class="nav-link" routerLinkActive="active">
          User
        </a>
      </li> 
    </ul> -->
    <button mat-button (click)="LoadPage('')">Home</button>
    <button mat-button [matMenuTriggerFor] = "menu">Farmer</button>
<mat-menu #menu = "matMenu">
   <button mat-menu-item (click)="LoadPage('farmer')" >Register</button>
   <button mat-menu-item (click)="LoadPage('product-creation')" >Make a Sale</button>
  <!--<button mat-menu-item [matMenuTriggerFor] = "recent">Recent</button>-->
</mat-menu>
<!--<mat-menu #recent = "matMenu">
   <button mat-menu-item>File 1</button>
   <button mat-menu-item>File 2</button>
</mat-menu> -->
<button  mat-button [matMenuTriggerFor] = "menu1">Agency</button>
<mat-menu #menu1 = "matMenu">
   <button mat-menu-item (click)="LoadPage('agency')">Register</button>
   <button mat-menu-item (click)="LoadPage('agency-employee-list')">Employees</button>
   <button mat-menu-item (click)="LoadPage('agency-employee-registration')">Employee Registration</button>
    <!--<button mat-menu-item [matMenuTriggerFor] = "recent1">Recent</button>-->
</mat-menu>
 <!--<mat-menu #recent1 = "matMenu">
   <button mat-menu-item>File 1</button>
   <button mat-menu-item>File 2</button>
</mat-menu>-->
<button  mat-button [matMenuTriggerFor] = "menu2">Shop</button>
<mat-menu #menu2 = "matMenu">
   <button mat-menu-item (click)="LoadPage('shop')">Register</button>
   <button mat-menu-item (click)="LoadPage('shop-employee-registration')">Employee Registration</button>
   <button mat-menu-item (click)="LoadPage('shop-employee-list')">Employees</button>
   <button mat-menu-item (click)="LoadPage('shop-purchase')">Purchase</button>
   <button mat-menu-item (click)="LoadPage('shop-sale')">Sale</button>
   <button mat-menu-item (click)="LoadPage('shop-balance-items')">Balance Item List</button>
  
</mat-menu>

<button  mat-button [matMenuTriggerFor] = "menu3">Customer</button>
<mat-menu #menu3= "matMenu">
   <button mat-menu-item (click)="LoadPage('customer')">Register</button>
   <button mat-menu-item (click)="LoadPage('customer-purchase')">Make a Purchase</button>
   
</mat-menu>
<!--<mat-menu #recent2= "matMenu">
   <button mat-menu-item>File 1</button>
   <button mat-menu-item>File 2</button>
</mat-menu>-->
  </div>
</nav>
  

<router-outlet></router-outlet>