<!-- <h1>Product Creation</h1>
        <div class="form-group col-8">
                <label >Farmer ID</label>
                <input type="number" Name="id" value="" class="form-control"/>

                <label >Product ID</label>
                <input type="number" Name="productId" value="" class="form-control"/>
                
                <label >Product Name</label>
                <input type="text"  value=""class="form-control" />
                
                <label >Maufacturing Date </label>
                <input type="datetime"  value=""class="form-control" />
                
                <label >Expiry Date </label>
                <input type="datetime"  value=""class="form-control" />

                <label >Product Quantity </label>
                <input type="number"  value=""class="form-control" />
                
                <label >Agency ID </label>
                <input type="number"  value=""class="form-control" />

                <label >Employee ID </label>
                <input type="number"  value=""class="form-control" /><br>

                <input type="submit" value="submit"class="btn btn-primary" />

                <input type="button" value="clear"class="btn btn-primary" />

                </div> -->


                <div class="card form-group col-8" id="frm">
                        <div class="card-body">
                          <form [formGroup]="angForm" novalidate >
                            <div class="form-group">
                              <label class="col-md-4">Product ID</label>
                              <input type="text" class="form-control" formControlName="product_id" #product_id />
                            </div>
                            <div *ngIf="angForm.controls['product_id'].invalid && (angForm.controls['product_id'].dirty || angForm.controls['product_id'].touched)" class="alert alert-danger">
                              <div *ngIf="angForm.controls['product_id'].errors.required">
                                Product Id is required.
                              </div>
                            </div>
                            
                              <div class="form-group">
                              <label class="col-md-4">Product Name</label>
                              <input type="text" class="form-control" formControlName="product_name" #product_name />
                            </div>
                            <div *ngIf="angForm.controls['product_name'].invalid && (angForm.controls['product_name'].dirty || angForm.controls['product_name'].touched)" class="alert alert-danger">
                              <div *ngIf="angForm.controls['product_name'].errors.required">
                                Product Name is required.
                              </div>
                            </div>
                      
                             <div class="form-group">
                              <label class="col-md-4">Description</label>
                              <textarea  class="form-control" formControlName="product_description" #product_description ></textarea>
                            </div>
                            <div *ngIf="angForm.controls['product_description'].invalid && (angForm.controls['product_description'].dirty || angForm.controls['product_description'].touched)" class="alert alert-danger">
                              <div *ngIf="angForm.controls['product_description'].errors.required">
                                Description is required.
                              </div>
                            </div>
                      
                              <div class="form-group">
                              <label class="col-md-4">Manufacturer</label>
                              <input type="text"  class="form-control" formControlName="product_manufacturer" #product_manufacturer />
                            </div>
                            <div *ngIf="angForm.controls['product_manufacturer'].invalid && (angForm.controls['product_manufacturer'].dirty || angForm.controls['product_manufacturer'].touched)" class="alert alert-danger">
                              <div *ngIf="angForm.controls['product_manufacturer'].errors.required">
                                Manufacturer is required.
                              </div>
                            </div>
                      
                            <div class="form-group">
                              <button type="submit" (click)="addProducts(product_id.value,product_name.value,product_description.value, product_manufacturer.value)"
                              [disabled]="angForm.pristine || angForm.invalid" 
                              
                              class="btn btn-primary">Submit</button>
                            </div>
                          </form>
                        </div>
                      </div>