<h1>
            Balance Product
        </h1>
        <table border="1"style="width:90%">

            <thead>
              
              <tr>
              <th colspan="1" rowspan="2">Product ID</th>
              <th colspan="1" rowspan="2">Product Name</th>
              <th colspan="1" rowspan="2">Buy Date</th>
              <th colspan="2">Item List</th>
              </tr>
          
              <tr>
              <th><br>Balance Item</th>
              <th><br>Sales Item</th>
              </tr>
              
            </thead>
          
            <tbody>
          
              <tr>  
                <td>data</td> 
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
              </tr>
          
               <tr>  
                <td>data</td> 
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
          
              </tr>
          
               <tr>  
                <td>data</td> 
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
              </tr>
          
            </tbody>
          </table>