<h1>Shop Registration</h1>
        <div class="form-group col-8">
                <label>ID</label>
                <input type="number" name="ID" value="" class="form-control"/>
                
                <label >Shop Name</label>
                <input type="text"  class="form-control" />
                
                <label >Shop Owner Name</label>
                <input type="text"  value=""class="form-control" />
                
                <label >Address</label>
                <textarea name="address"class="form-control"></textarea><br>
                
                <input type="submit" value="submit"class="btn btn-primary" />

                <input type="button" value="clear"class="btn btn-primary" />

                </div>