<h1>Employee Registration</h1>
        <div class="form-group col-8">
                <label >Employee ID</label>
                <input type="number" name="ID" value="" class="form-control"/>
                
                <label >Agency ID</label>
                <input type="number" Name="ID" value="" class="form-control"/>
                
                <label >Name</label>
                <input type="text"  value=""class="form-control" />
                
                <label >Address</label>
                <textarea name="address"class="form-control"></textarea>

                <label >schedule</label><br><br>

                <label >From</label>
                <input type="datetime"  value=""class="form-control" />
                
                
                <label >To</label>
                <input type="datetime" formControlName="Name" value=""class="form-control" /><br>
                
                
                <input type="submit" value="submit"class="btn btn-primary" />

                <input type="button" value="clear"class="btn btn-primary" />

                </div>