<h1>Customer Registration</h1>
        <div class="form-group col-8">
                <label >ID</label>
                <input type="number" Name="ID" value="" class="form-control"/>
                
                <label >Name</label>
                <input type="text" formControlName="Name" value=""class="form-control" />
                
                <label >Address</label>
                <textarea name="address"class="form-control"></textarea><br>
                
                <input type="submit" value="submit"class="btn btn-primary" />

                <input type="button" value="clear"class="btn btn-primary" />

                </div>
