<h1>Shop Purchase Products</h1>
        <div class="form-group col-8">

                <label >Shop ID </label>
                <input type="number"  value=""class="form-control" />


                <label >Product ID</label>
                <input type="number" name="ID" value="" class="form-control"/>
                
                <label >Product Name</label>
                <input type="text" formControlName="Name" value=""class="form-control" />
                
                <label >Maufacturing Date </label>
                <input type="datetime"  value=""class="form-control" />
                
                <label >Expiry Date </label>
                <input type="datetime"  value=""class="form-control" />

                <label >Product Quantity </label>
                <input type="number"  value=""class="form-control" />
                
                <label >Date of Purchase </label>
                <input type="datetime"  value=""class="form-control" /><br>
                
                <input type="submit" value="submit"class="btn btn-primary" />

                <input type="button" value="clear"class="btn btn-primary" />

                </div>
